<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NodeJS + Socket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3000");
    </script>
    <script>
        socket.on("Server-send-data", function(data){
            $("#noidung").append(data+", ");
        });
        $(document).ready(function(){
            $("#mrA").click(function(){
                // emit(ten gui len socket, gia tri gui qua client B)
                socket.emit("Client-send-data", "Hello");
            });
        });
    </script>
</head>
<body>
    <div id="mrA">
        Click send
    </div>
    <h2 id="noidung"></h2>
</body>
</html>